
PORT=8000
MONGO_URI=MONGO_URI=mongodb+
JWT_SECRET=your_jwt_secret_key
EMAIL_USER=admin@gmail.com
EMAIL_PASS=16DigitPassword

CLOUDINARY_CLOUD_NAME=Signup_data
CLOUDINARY_API_KEY=signup_data
CLOUDINARY_API_SECRET=signup_data


RAZORPAY_KEY_ID= signup_data
RAZORPAY_KEY_SECRET= signup_data

